<h3>My Carers</h3>
<div id='my-carers'>
<!-- TODO: List the associated carers -->
	<% @patient.carers.each do |carer|%>
		<ul>
			<li><%= link_to carer.username.capitalize, patients_carer_path(@patient, carer) %></li>
		</ul>
	<%end%>
</div>
<h3>Invite a Carer</h3>
<div id="invite-carer">
	<form name="input" action='/patients/<%=@patient.id%>/carers' method="post" >
		<p>
			<label for="carer-username">Carer Name:</label>
			<input type="text" name="carer-username">
		</p>
		<p>
			<label for="carer-relationship">Relationship:</label>
	    <select name='carer-relationship'>
         <option>Family</option>
         <option>Friend</option>
	    </select>
		</p>
		<p>
		<label for="carer-email">Email:</label>
		<input type="text" name="carer-email">
		</p>
		<p>
			<input type="submit" value="Invite">
		</p>
	</form><!-- form#invite-doctor-email -->
</div>