<h1>My Patients</h1>
<ul>
<% @doctors_patients.each do |patient| %>
		<li> <%= link_to patient.username.capitalize, doctors_patient_path(@doctor,patient)	%></li>
<% end %>
</ul>
<h3><a href="/">Invite a Patient</a></h3>

